{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://kit.fontawesome.com/fbf340fc9e.js" crossorigin="anonymous"></script>
<!-- FOR SWIPPER IN IMAGE SLIDDER----------->
<link  rel="stylesheet"   href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<link rel="stylesheet" href = "{% static 'assets/css/misc.css' %}">
<body>
	<div class="main_desc" style = "margin-top:140px">
		<h1><span class = "auto_type"></span></h1>
		<div class="single_desc">
			<div class="swiper">
					<!--div class="swiper"-->
						  <!-- Additional required wrapper -->
						  <div class="swiper-wrapper">
						    <!-- Slides/images -->
						    <div class="swiper-slide"><img src = "{% static 'assets/images/building.jpg' %}"></div>
						    <div class="swiper-slide"><img src = "{% static 'assets/images/group.jpg' %}"></div>
						    <div class="swiper-slide"><img src = "{% static 'assets/images/ev.jpg' %}"></div>
						    
						  </div>
						  <!-- If we need pagination -->
						  <div class="swiper-pagination"></div>

						  <!-- If we need navigation buttons -->
						  <div class="swiper-button-prev"></div>
						  <div class="swiper-button-next"></div>

						  <!-- If we need scrollbar -->
						  <!--div class="swiper-scrollbar"></div>
						</div-->
					<!--/div-->
			</div>

			<div class="single_desc_right">
				<h1 style="font-size:2.4rem">Sustainability Hackathon</h1>
				<p>The United Nations defines sustainability as meeting the needs of the present without
					compromising the ability of future generations to meet their own needs. We, at Waves'24,
					believe it is so much more! Sustainable development necessitates finding novel solutions
					to age-old problems: How do we solve the energy crisis? How do we eradicate hunger? How do we
					protect our natural resources? If you've got answers, join the Waves'24 Sustainability Hackathon!
					Analyze contemporary global challenges, innovate, experiment and showcase your cutting-edge
					solutions. Your ideas have the power to change the world for the better!
					</p>
				<button><a href = "#" style="color:#111">Register -></a></button>
			</div>
		</div>

	</div>
	<hr>
	<div class="main_desc">
		<h1 ><span class = "auto_type2"></span></h1>
		<div class="single_desc">
			<div class="swiper">
					<!--div class="swiper"-->
						  <!-- Additional required wrapper -->
						  <div class="swiper-wrapper">
						    <!-- Slides/images -->
						    <div class="swiper-slide"><img src = "{% static 'assets/images/building.jpg' %}"></div>
						    <div class="swiper-slide"><img src = "{% static 'assets/images/group.jpg' %}"></div>
						    <div class="swiper-slide"><img src = "{% static 'assets/images/ev.jpg' %}"></div>
						    
						  </div>
						  <!-- If we need pagination -->
						  <div class="swiper-pagination"></div>

						  <!-- If we need navigation buttons -->
						  <div class="swiper-button-prev"></div>
						  <div class="swiper-button-next"></div>

						  <!-- If we need scrollbar -->
						  <!--div class="swiper-scrollbar"></div>
						</div-->
					<!--/div-->
			</div>

			<div class="single_desc_right">
				<h1 style="font-size:2.4rem">Ev AutoShow</h1>
				<p>The running cost of an electric vehicle is much lower than an equivalent petrol or diesel vehicle. Electric vehicles use electricity to charge their batteries instead of using fossil fuels like petrol or diesel. Electric vehicles are more efficient, and that combined with the electricity cost means that charging an electric vehicle is cheaper than filling petrol or diesel for your travel requirements. Using renewable energy sources can make the use of electric vehicles more eco-friendly.</p>
				<!--button>Learn More -></button-->
			</div>
		</div>

	</div>
	<hr>

	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<script>
	var typed = new Typed(".auto_type",{
		strings:["Sustainability Hackathon..."],
		typeSpeed : 60,
		backSpeed : 60,
		loop : true,
	})

	var typed = new Typed(".auto_type2",{
		strings:["Ev AutoShow..."],
		typeSpeed : 60,
		backSpeed : 60,
		loop : true,
	})

	var typed = new Typed(".auto_type3",{
		strings:["Carnival..."],
		typeSpeed : 60,
		backSpeed : 60,
		loop : true,
	})

</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
	const swiper = new Swiper('.swiper', {
	  // Optional parameters
	  //direction: 'vertical',
	  autoplay:{
	  	delay:2500,
	  	disableOnInteraction:false,
	  },
	  loop: true,

	  // If we need pagination
	  pagination: {
	    el: '.swiper-pagination',
	    clickable:true,//then only when we click the dots the imag moves
	  },

	  // Navigation arrows
	  navigation: {
	    nextEl: '.swiper-button-next',
	    prevEl: '.swiper-button-prev',
	  },

	  // And if we need scrollbar
	  //scrollbar: {
	    //el: '.swiper-scrollbar',
	  //},
});
</script>
</body>
{% endblock %}
